body {
    background-color: rgba(54, 64, 75, 1);
    color: #ead8da;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.error-container {
    text-align: center;
    padding: 20px;
    border: 1px solid #918687;
    background-color: #544f4f;
    border-radius: 8px;
}

.error-code {
    font-size: 72px;
    font-weight: bold;
}
.error-message-bold {
    font-size: 40px;
    font-weight: bold;
}

.error-message {
    font-size: 24px;
    margin-bottom: 20px;
}

.home-button {
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: #e3b1b6;
    padding: 10px 20px;
    border-radius: 5px;
}