.gallery-label {
    text-align: center;
    color: white;
    font-size: 48px;
    align-content: center;
}
.text-label{
    color: white;
    font-size: 20px;
}
.text-label-dark{
    color: black;
    font-size: 20px;
}
th {
     width: 10%;
     border: 1px solid #dddddd;
     text-align: left;
     padding: 8px;
     white-space: nowrap;
     overflow-y: auto;
     word-break: break-all;
     background-color: #655b5b;
}
td{
    width: 10%;
    text-align: left;
    overflow-y: auto;
    word-break: break-all;
}
tr p {
    display: block;
    max-height: 220px !important;
    overflow: hidden;
}
.error-message-login {
    text-align: center;
    color: white;
    font-size: 24px;
    margin-top: 10px;
}
.container-table {
    margin: 0 auto;
    width: 99%;
    padding: 1px;
}
.test{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.test a {
    width: 100%;
    margin-bottom: 10px;
}
.card-img-top {
    width: 100%;
    height: 450px;
    max-width: 850px;
    display: flex;
    object-fit: cover;
}
.baslik{
    color: white;
}
.altBaslik{
    color: white;
}
.navBarYazi{
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: uppercase;
}
.navbar-gradient {
    /**background: linear-gradient(90deg, rgba(0,36,61,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);**/
    background: linear-gradient(90deg, rgba(33,37,41,1) 0%, rgba(61,61,62,1) 46%, rgba(7,19,45,1) 100%);
    border-bottom: 1px solid #fff;
}
.background-style{
    background-color: rgba(54, 64, 75, 1)!important;
}
.modal-body-custom {
    max-height: calc(300vh - 300px);
    overflow-y: auto;
}
.success-message {
    position: fixed;
    font-size: 20px;
    opacity: 1;
    width: 300px;
    color: black;
    padding: 15px;
    margin: 25px;
    transition: opacity 1s ease-out;
    border: 1px solid #d6e9c6;
    border-radius: 5px;
    text-align: center;
    z-index: 1000;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #2e2e2e;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
    border: 2px solid #2e2e2e;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}
