<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hata</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
<div class="error-container">
    <div class="error-code" th:text="${status}"></div>
    <div class="error-message-bold" th:text="${errorMessage}"></div>
    <div class="error-message">
        <p>Oops! Bir şeyler yanlış gidiyor..</p>
        <p th:if="${status == 404}">Aradığınız sayfa bulunmuyor. Lütfen daha sonra tekrar deneyiniz. </p>
        <p th:if="${status == 400}">Yanlış bir istekte bulundunuz. </p>
        <p th:if="${status == 500}">Sunucu hatası! Lütfen daha sonra tekrar deneyiniz.</p>
        <p th:unless="${status == 500 || status == 400 || status == 404}"> Beklenmedik bir hata oluştu. </p>
    </div>
    <a href="/artworks-list" class="home-button">Anasayfa</a>
</div>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>
