<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.css"/>
  <!-- Özel CSS -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
  <h1>Sanat Eseri Yönetimi </h1>
  <hr>
  <h2 class="mx-3">Sanat Eseri Bilgilerini Giriniz: </h2>

  <form action="#" th:action="@{/artworks-list/addArtwork}" th:object="${artwork}" method="POST">
    <input type="text" th:field="*{title}" placeholder="Sanat Eseri Başlığı" class="form-control mb-4 col-4">

    <input type="text" th:field="*{description}" placeholder="Sanat Eseri Kısa Açıklaması" class="form-control mb-4 col-4">

    <input type="text" th:field="*{content}" placeholder="Sanat Eseri İçeriği" class="form-control mb-4 col-4">

    <button type="submit" class="btn btn-success col-2">Kaydet</button>
  </form>

  <hr>

  <a th:href="@{/artworks-list}">Kayıt listesine geri dön</a>
</div>
</body>
</html>