<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Artwork</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.css"/>
    <!-- Özel CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <h1>Sanat Eseri Yönetimi</h1>
    <hr>
    <h2>Kayıt Bilgileri</h2>

    <form action="#" th:action="@{/artworks-list/saveArtwork}" th:object="${artwork}" method="POST">

        <input type="hidden" th:field="*{id}"/>

        <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label text-label">Başlık:</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{title}" id="title" class="form-control mb-4">
            </div>
        </div>

        <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label text-label">Açıklama:</label>
            <div class="col-sm-10">
                <textarea th:field="*{description}" id="description" class="form-control mb-4" rows="5"></textarea>
            </div>
        </div>

        <div class="form-group row">
            <label for="content" class="col-sm-2 col-form-label text-label">İçerik:</label>
            <div class="col-sm-10">
                <textarea th:field="*{content}" id="content" class="form-control mb-4" rows="10"></textarea>
            </div>
        </div>

        <div class="form-group row">
            <label for="createDate" class="col-sm-2 col-form-label text-label">Eklendiği Tarih:</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{createDate}" id="createDate" class="form-control mb-4" disabled>
            </div>
        </div>

        <div class="form-group row">
            <label for="modifiedDate" class="col-sm-2 col-form-label text-label">Son Güncelleme:</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{modifiedDate}" id="modifiedDate" class="form-control mb-4" disabled>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 text-right">
                <button type="submit" class="btn btn-info col-12 mb-3">Kaydı Güncelle</button>
            </div>
            <div class="col-sm-6 text-right">
                <a th:href="@{'/artworks-list/updateArtworkImages/' + ${artwork.id}}" class="btn btn-dark col-12 mb-3">Fotoğraf Galerisi Yönetimi</a>
            </div>
        </div>
    </form>
<hr>

    <a th:href="@{/artworks-list}" class="pb-4">Kayıt listesine geri dön</a>
</div>
</body>

</html>