<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <title>Gezilecek Yer | Güncelleme Ekranı</title>
  <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.css"/>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="background-style">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top navbar-gradient">
  <a class="navbar-brand navBarYazi" href="#">Cultural-Backend Admin Paneli</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto navBarYazi">
      <li class="nav-item pr-2">
        <a class="nav-link" href="/">Ana Sayfa <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item pr-2">
        <a class="nav-link" href="/artworks-list">Sanat Eserleri Yönetimi</a>
      </li>
      <li class="nav-item active pr-2">
        <a class="nav-link" href="/touristic-spots-list">Gezilecek Yerler Yönetimi</a>
      </li>
      <li class="nav-item pr-2">
        <a class="nav-link" href="#">Log Yönetimi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bg-danger font-weight-bold text-light rounded-pill border border-light px-4" href="#">Çıkış</a>
      </li>
    </ul>
  </div>
</nav>
<div th:if="${successMessage}" class="alert alert-success success-message" role="alert" id="success-message">
  <span th:text="${successMessage}"></span>
</div>
<div class="container pt-4 mt-5">

  <div class="d-flex justify-content-center align-content-center">
    <h1 class="baslik">Gezilecek Yerler Yönetimi</h1>
  </div>

  <hr>

  <h2 class="altBaslik">Kayıt Bilgileri</h2>
  <hr>
  <form id="spotFormUpdate" action="#" th:action="@{/touristic-spots-list/saveSpot}" th:object="${spot}" method="POST">

    <input type="hidden" th:field="*{id}"/>

    <div class="form-group row">
      <label for="title" class="col-sm-2 col-form-label text-label">Başlık:</label>
      <div class="col-sm-10">
        <input type="text" th:field="*{title}" id="title" placeholder="Gezilecek Yer Başlığı"
               class="form-control col-6" th:classappend="${submitted and #fields.hasErrors('title')} ? 'is-invalid' : (${submitted} ? 'is-valid' : '')">
        <div th:if="${#fields.hasErrors('title')}" class="text-danger mb-4">
          <div th:each="error : ${#fields.errors('title')}">
            <span th:text="${error}"></span><br/>
          </div>
        </div>
        <span th:if="${submitted and !#fields.hasErrors('title')}" class="text-success mb-4">İyi gözüküyor!</span>
      </div>
    </div>

    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label text-label">Açıklama:</label>
      <div class="col-sm-10">
                <textarea th:field="*{description}" id="description" placeholder="Gezilecek Yer Açıklaması"
                          class="form-control" th:classappend="${submitted and #fields.hasErrors('description')} ? 'is-invalid' : (${submitted} ? 'is-valid' : '')"></textarea>
        <div th:if="${#fields.hasErrors('description')}" class="text-danger mb-4">
          <div th:each="error : ${#fields.errors('description')}">
            <span th:text="${error}"></span><br/>
          </div>
        </div>
        <span th:if="${submitted and !#fields.hasErrors('description')}" class="text-success mb-4">İyi gözüküyor!</span>
      </div>
    </div>

    <div class="form-group row">
      <label for="content" class="col-sm-2 col-form-label text-label">İçerik:</label>
      <div class="col-sm-10">
                <textarea th:field="*{content}" id="content" placeholder="Gezilecek Yer Eseri İçeriği"
                          class="form-control" th:classappend="${submitted and #fields.hasErrors('content')} ? 'is-invalid' : (${submitted} ? 'is-valid' : '')" rows="10"></textarea>
        <div th:if="${#fields.hasErrors('content')}" class="text-danger mb-4">
          <div th:each="error : ${#fields.errors('content')}">
            <span th:text="${error}"></span><br/>
          </div>
        </div>
        <span th:if="${submitted and !#fields.hasErrors('content')}" class="text-success mb-4">İyi gözüküyor!</span>
      </div>
    </div>

    <div class="form-group row">
      <label for="createDate" class="col-sm-2 col-form-label text-label">Eklendiği Tarih:</label>
      <div class="col-sm-10">
        <input type="text" th:field="*{createDate}" id="createDate" class="form-control mb-4 col-3" disabled>
      </div>
    </div>

    <div class="form-group row">
      <label for="modifiedDate" class="col-sm-2 col-form-label text-label">Son Güncelleme:</label>
      <div class="col-sm-10">
        <input type="text" th:field="*{modifiedDate}" id="modifiedDate" class="form-control mb-4 col-3" disabled>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-6 text-right">
        <button type="button" class="btn btn-success col-12 mb-3 text-label" data-toggle="modal" data-target="#confirmModal">Kaydı Güncelle</button>
      </div>
      <div class="col-sm-6 text-right">
        <a th:href="@{'/touristic-spots-list/updateSpotImages/' + ${spot.id}}" class="btn btn-info col-12 mb-3 text-label">Fotoğraf Galerisi Yönetimi</a>
      </div>
    </div>
  </form>
  <hr>
  <a th:href="@{/touristic-spots-list}" class="pb-4">Kayıt listesine geri dön</a>
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Onay</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Kaydı güncellemek istediğinize emin misiniz?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
        <button type="button" class="btn btn-primary" id="confirmUpdateSpot">Evet, Güncelle</button>
      </div>
    </div>
  </div>
</div>

<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>

</body>
</html>